body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul { 
    background-color: hsl(0, 49%, 81%);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.font {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(238, 196, 196);
    padding: 15px;
}

div {
    background-color: hsl(0, 49%, 81%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.imgbg {
    background-color: hsl(0, 35%, 93%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px;
    margin: 20px;
}


